{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="bg-dark">


    <header>
        {% include 'navbar.html' %}
        <div class="text-center bg-dark text-light p-3">
            <h1 class="display-1">THE USELESS SHOP</h1>
            <div>useless things for useless people</div>
        </div>
    </header>

    <main class="bg-light rounded-5">
        <div class="container px-4 px-lg-5 my-5 p-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    {% if item.img %}
                    <img class="card-img-top mb-5 mb-md-0 shadow rounded" src="{{ item.img.url }}" alt="{{ item.name }}">
                    {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="{% static 'default.png' %}" alt="{{ item.name }}">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{ item.price }}€</span>
                    </div>
                    <p class="lead">{{ item.desc }}</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-6 mt-5 w-50">
                    {% for comm in item.comment.all %}
                    <!--start of element-->
                    <div class="shadow p-3 bg-white rounded mb-4">
                        <div>
                            <sup>{{ comm.username }}</sup>
                        </div>
                        <div>
                            {{ comm.text }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if user.is_authenticated %}
                <div>
                    <div>
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h3 class="mb-0">Add a comment</h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ form.username }}
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control form-control-lg" id="id_text" name="text" rows="4">{{ form.text.value|default_if_none:'' }}</textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>

    <footer class="text-light">
        <hr>
        <div class="text-center p-1">
            &copy; Lukáš Olbrecht 2022
        </div>
    </footer>
</body>

</html>
